# Auto detect text files and perform LF normalization
* text=auto
*.nc filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
case1/inputs/Grid[[:space:]]feature[[:space:]]statistics.csv filter=lfs diff=lfs merge=lfs -text
Figures/CREST_Example_wjb_NSE/Data/ens_gefs_bjp.nc filter=lfs diff=lfs merge=lfs -text
